preprocessing/.idea/Chatter.iml
preprocessing/.idea/inspectionProfiles/profiles_settings.xml
preprocessing/.idea/misc.xml
preprocessing/.idea/modules.xml
preprocessing/.idea/vcs.xml
preprocessing/.idea/workspace.xml
/preprocessing/__pycache__
preprocessing/secrets-azure.json
preprocessing/secrets-ollama.json
preprocessing/secrets-openai.json
Fall2024/secrets_openai.json
Fall2024/secrets_ollama.json
Fall2024/secrets_azure.json
*.pyc
.idea/workspace.xml
Fall2024/.idea/Fall2024.iml
Fall2024/.idea/inspectionProfiles/profiles_settings.xml
Fall2024/.idea/misc.xml
Fall2024/.idea/modules.xml
Fall2024/.idea/vcs.xml
frontend/secrets_openai.json
frontend/secrets_ollama.json
frontend/secrets_azure.json
frontend/openaikeys.txt
frontend/codes/__init__.py
*.iml
/frontend/.idea
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/prettier.xml
.idea/vcs.xml
preprocessing/delete_pinecone_index.py
preprocessing/.idea/inspectionProfiles/Project_Default.xml
frontend/secrets_ollama-sam.json
preprocessing/delete_pinecone_index.py
preprocessing/delete_pinecone_index.py
preprocessing/delete_pinecone_index.py
