langchain
langchain_community
langchain_core
langchain_openai
langchain_pinecone
langchain_text_splitters
numpy
pandas
pinecone
pydantic
scikit_learn
sentence_transformers
streamlit
tqdm
trulens_eval

pymupdf
faiss-cpu
pypdf